av==14.2.0
datasets==3.6.0
decord==0.6.0
easydict==1.13
huggingface_hub==0.26.2
matplotlib==3.5.1
natsort==8.2.0
numpy==2.2.5
openai==1.40.0
opencv_python==4.10.0.84
pandas==1.4.2
Pillow==11.2.1
protobuf==6.30.2
pydantic==2.11.4
Requests==2.32.3
scikit_learn==1.0.2
torch==2.5.0
torch==2.7.0
torchvision==0.15.2
torchvision==0.22.0
tqdm==4.67.1
transformers==4.46.2
